.main_page {
  height: 100vh;
  background-color: #fafafa;
}

.book_section_container {
  padding-top: 20px;
}

.book_section {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin: 2.313rem 6.25rem;
  padding: 1.5rem 0;
}

.book_section_container li {
  list-style: none;
}

.grid-item {
  display: grid;
  grid-template-columns: auto auto auto;
}
